.background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    position: relative;
    background-color: white;

    .cross {
      position: absolute;
      top: 0.75em;
      right: 1em;
      width: 32px;
      height: 32px;
      opacity: 0.3;

      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        left: 15px;
        height: 20px;
        width: 2px;
        background-color: #8c8c8c;
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
