.add-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  .technologies {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .b-left,
    .b-right {
      width: 50%;
      background-color: #fff;
      padding: 20px;
    }

    .technology {
      font-size: 16px;
      margin-top: 5px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      img {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 16px;
    }

    input[type='text'],
    input[type='number'] {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    input[type='text'] {
      height: 40px;
    }

    input[type='number'] {
      height: 40px;
    }
  }
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
