.project {
  list-style-type: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .description,
  .technologies,
  .status,
  .links {
    margin-top: 10px;
    font-size: 16px;
  }

  .duration {
    margin-top: 10px;
    font-size: 16px;
  }

  a {
    display: block;
  }

  .bids {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .b-left,
    .b-right {
      width: 50%;
      background-color: #fff;
      padding: 20px;
    }

    .bid {
      font-size: 16px;
      margin-top: 5px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
